*.suo
*.dll
bin/
obj/
Web/Scripts/
.build
.nuget
packages/
tools/packages/
build/
contrib/
*.user
examples/packages/
Content/WebSharper
Scripts/WebSharper
tools\Fsi.exe
tools\Fsi.exe.config
msbuild.log
.fake/
paket-files/
.vscode/
obj/
bin/
.vs/
